<div class="dog-book" style="display: flex;">
    <div class="dog-img col-6 col-s-6" style="z-index: 1; margin-bottom: 20px;">
        <img src="assets/logos/dog-book.png" style="width: 500px; height:300px;">
    </div>
    <div class="col-6 col-s-6" style="margin-top: 30px;">
        <span style="font-size: 30px;"><i>Nie wieder unser Angebot verpassen !</i></span><br>
        <span>jetzt für den Newsletter anmelden 5% Gutschein Sichern!</span><br><br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Adresse">
        </mat-form-field><br>
        <button mat-raised-button color="warn">50% Gutschein >></button>
    </div>
</div>

<div class="footer">
    <div class="footer1">
        <p>Haben Sie Fragen zu einer Bestellung ?</p>
        <p>Unser Kundenservice kann Ihnen weiterhelfen !</p>
        <button class="footer-button" mat-stroked-button>Kontakt</button>
    </div>
    <div class="footer2">
        <div class="zahlung col-4 col-xs-2  footer2-float">
            <p class="zahlung-label">Sicher zahlen</p>
            <div class="Zb">
                <button class="zahlung-button" mat-stroked-button>Bankeinzug</button>
                <button class="zahlung-button" mat-stroked-button>Vorkasse</button>
                <button class="zahlung-button" mat-stroked-button>Rechnung</button>
            </div>
            <div class="Zb">
                <img class="imgBox" src="assets/logos/paypal.png">
                <img class="imgBox" src="assets/logos/amazon-pay.png">
                <img class="imgBox" src="assets/logos/visa.png">
                <img class="imgBox" src="assets/logos/mastercard.png">
            </div>
        </div>
        <div class="versand-label col-4 col-xs-2  footer2-float">
            <p>Schnell versendet</p>
            <img class="imgBox" src="assets/logos/dhl.png">
            <p>Portofrei ab 29 EUR</p>
        </div>
        <div class="partner-label col-4 col-xs-2  footer2-float">
            <p>Partner von</p>
            <img class="imgBox" src="assets/logos/billiger.png">
            <img class="imgBox" src="assets/logos/idealo.png">
        </div>
    </div>

    <div class="footer3" style="background-color: grey;">
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">RECHTE & FRISTEN</h4>
            <p>Sitemap</p>
            <p>Impressum</p>
            <p>Datenschutzerklärung</p>
            <p>Widerrufsrecht</p>
            <p>Marktplatz.wdt.de, www.wdt.de</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">HILFE & SERVICE</h4>
            <p>FAQ</p>
            <p>Suchen</p>
            <p>Blog</p>
            <p>Abobestellungen</p>
            <p>AGB</p>
            <p>Kontakt</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">MEIN KONTO</h4>
            <p>Sitemap</p>
            <p>Impressum</p>
            <p>Datenschutzerklärung</p>
            <p>Widerrufsrecht</p>
            <p>Marktplatz.wdt.de, www.wdt.de</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">LIEFER- UND VERSANDKOSTEN</h4>
            <p>Deutschland</p>
            <p>Österreich</p>
            <p>Europa</p>
            <p>Schweiz</p>
        </div>
    </div>
</div>