<div class="header">
    <h1>Chania</h1>
</div>

<!-- <div class="row">
    <div class="col-3 col-s-3 menu">
        <ul>
            <li>The Flight</li>
            <li>The City</li>
            <li>The Island</li>
            <li>The Food</li>
        </ul>
    </div>

    <div class="col-6 col-s-9">
        <h1>The City</h1>
        <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the
            old town and the modern city.</p>
    </div>

    <div class="col-3 col-s-12">
        <div class="aside">
            <h2>What?</h2>
            <p>Chania is a city on the island of Crete.</p>
            <h2>Where?</h2>
            <p>Crete is a Greek island in the Mediterranean Sea.</p>
            <h2>How?</h2>
            <p>You can reach Chania airport from all over Europe.</p>
        </div>
    </div>
</div> -->

<div class="footer">
    <div class="footer1 col-12">
        <p>Haben Sie Fragen zu einer Bestellung ?</p>
        <p>Unser Kundenservice kann Ihnen weiterhelfen !</p>
        <div class="innenBox">Kontakt</div>
    </div>
    <div class="footer2 col-12">
        <div class="zahlung col-4 col-s-4">
            <p class="zahlung-label">Sicher zahlen</p>
            <div class="Zb">
                <div class="zahlungBox">Bankeinzug</div>
                <div class="zahlungBox">Vorkasse</div>
                <div class="zahlungBox">Rechnung</div>
            </div>
            <div class="Zb">
                <img class="imgBox" src="assets/logos/paypal.png">
                <img class="imgBox" src="assets/logos/amazon-pay.png">
                <img class="imgBox" src="assets/logos/visa.png">
                <img class="imgBox" src="assets/logos/mastercard.png">
            </div>
        </div>
        <div class="vl"></div>
        <div class="versand col-4 col-s-4">
            <p>Schnell versendet</p>
            <img class="imgBox" src="assets/logos/dhl.png">
            <p>Portofrei ab 29 EUR</p>
        </div>
        <div class="vl"></div>
        <div class="partner col-4 col-s-4">
            <p>Partner von</p>
            <img class="imgBox" src="assets/logos/billiger.png">
            <img class="imgBox" src="assets/logos/idealo.png">
        </div>
    </div>

    <div class="clearfix" style="background-color: grey;">
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">RECHTE & FRISTEN</h4>
            <p>Sitemap</p>
            <p>Impressum</p>
            <p>Datenschutzerklärung</p>
            <p>Widerrufsrecht</p>
            <p>Marktplatz.wdt.de, www.wdt.de</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">HILFE & SERVICE</h4>
            <p>FAQ</p>
            <p>Suchen</p>
            <p>Blog</p>
            <p>Abobestellungen</p>
            <p>AGB</p>
            <p>Kontakt</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">MEIN KONTO</h4>
            <p>Sitemap</p>
            <p>Impressum</p>
            <p>Datenschutzerklärung</p>
            <p>Widerrufsrecht</p>
            <p>Marktplatz.wdt.de, www.wdt.de</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <h4 class="bottom-div">LIEFER- UND VERSANDKOSTEN</h4>
            <p>Deutschland</p>
            <p>Österreich</p>
            <p>Europa</p>
            <p>Schweiz</p>
        </div>
    </div>

    <!-- <div class="footer3">
        <div class="col-3 col-xs-1 footer3-float" >
            <p class="bottom-div">RECHTE & FRISTEN</p>
            <p>Sitemap</p>
            <p>Impressum</p>
            <p>Datenschutzerklärung</p>
            <p>Widerrufsrecht</p>
            <p>Marktplatz.wdt.de, www.wdt.de</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <p class="bottom-div">HILFE & SERVICE</p>
            <p>FAQ</p>
            <p>Suchen</p>
            <p>Blog</p>
            <p>Abobestellungen</p>
            <p>AGB</p>
            <p>Kontakt</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <p class="bottom-div">MEIN KONTO</p>
            <p>Sitemap</p>
            <p>Impressum</p>
            <p>Datenschutzerklärung</p>
            <p>Widerrufsrecht</p>
            <p>Marktplatz.wdt.de, www.wdt.de</p>
        </div>
        <div class="col-3 col-xs-1 footer3-float">
            <p class="bottom-div">LIEFER- UND VERSANDKOSTEN</p>
            <p>Deutschland</p>
            <p>Österreich</p>
            <p>Europa</p>
            <p>Schweiz</p>
        </div>    
    </div> -->
</div>